.meio{
    display: flex;
    flex-direction: column;
    margin: 2em 20em;

}
.vagas{
 margin: 1em 1em;
 border: 1px solid var(--fundo-borda);
 padding: 2em;
 border-radius: 10px;

}
.titulo__vaga{
    font-size: 18px;
}
.informacoes{
    color: var(--azul-texto);
    font-size: 14px;
    padding-top: 2em;
}
.titulo{
   margin-top: 1em;
    font-size: 20px;
    padding: 1.2em 0.6em;
}